textarea {
	height: 70vh;
	width: 97vw;
}
body {
	text-align: center;
	/*background-color: rgb(255,206,211);*/
}

#blog_titles{
	margin-top: 2px;
	float: right;
	display: inline-block;
	overflow-y: scroll;
    max-height: 70vh;
}

.left {
	text-align: left;
}

#images {
	border: solid rgb(169, 169, 169) 1px;
	margin: 35px 5px 5px 5px;
	padding: 5px;
}

.button_left {
	float: left;
}

#reset, .button_right, .delete {
	float: right;
	margin-right: 5px;
}

#upload_img {
	display: inline-block;
}

.container {
	padding-top: 3px;
	margin: 0 5px;
	display: inline-block;
	text-align: center;
	border: solid 2px transparent;
	border-radius: 5px;
}

#image_thumbnail {
	border-radius: 5px;
    color: white;
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    margin-bottom: 0px;
    width: 40px;
    height: 40px;
    box-shadow: 2px 3px 4px rgba(0,0,0, 0.3), 0 1px 2px rgba(0,0,0, 0.24);
}

.add_left_margin {
	margin-left: 5px;
}

.add_top_margin {
	margin-top: 5px;
}

.add_right_margin {
	margin-right: 5px;
}

.add_cursor{
	cursor: pointer;
	margin-bottom: 0px;
}

.blog_links {
	margin: 3px 5px 3px 0px;
	padding: 3px 5px;
	max-width: 100%;
    overflow: hidden;
}

input[type=checkbox] {
	display: none;
}

.select_blog {
	background-image: url(../images/pearl3.jpg);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
}

.select_blog_header {
	background-color: rgba(255,206,211, .3);
	color: #0e0e0e;
}

.btn-primary {
    color: black;
	background-color: rgba(255,206,211, .5);
    border-color: rgb(255,206,211);
}

#create_blog {
	background-color: rgb(76,175,80);
	border-color: rgb(76,175,80);
	margin-bottom: 4px;
	color: white;
}

#create_blog:hover {
	background-color: rgba(76,175,80, .7);
}

.btn-primary:hover {
	background-color: rgb(255,206,211);
    border-color: rgb(255,206,211);
    color: black;
}

.modal-title {
	color: #313131;
	font-family: 'Rochester';
	font-size: 2.1em;
}

.modal-header {
	border: none;
}

.modal-footerf {
	padding-bottom: 10px;
}