textarea {
	height: 70vh;
	width: 85vw;
}

#blog_titles{
	margin-top: 2px;
	float: right;
	display: inline-block;
	overflow-y: scroll;
    max-height: 70vh;
}

#images {
	border: solid rgb(169, 169, 169) 1px;
	margin: 5px;
	padding: 5px;
}

#reset, #new_blog, .delete {
	float: right;
	margin-right: 5px;
}

#upload_img {
	display: inline-block;
}

.container {
	display: inline-block;
	text-align: center;
}

#test {
	border-radius: 5px;
    color: white;
    background-repeat: no-repeat;
    background-origin: 50% 50%;
    background-size: cover;
    display: inline-block;
    width: 40px;
    height: 40px;
    box-shadow: 0 1px 2px rgba(0,0,0, 0.12), 0 1px 2px rgba(0,0,0, 0.24);
}

.add_left_margin {
	margin-left: 5px;
}

.add_top_margin {
	margin-top: 5px;
}

.add_cursor{
	cursor: pointer;
}

.blog_links {
	margin: 3px 5px 3px 0px;
	padding: 3px 5px;
	width: 90%;
	max-width: 11vw;
    overflow: hidden;
}

@media (max-width: 950px) {
 textarea {
 	width: 75vw;
 }
}
@media (min-width: 950px) {
 textarea {
 	width: 85vw;
 }

