/*header {
	z-index: 100;
	font-family: 'Lato',serif;
	color: #fff;
	width: 100%;
	box-shadow: 0 4px 8px rgba(0,0,0,.28), 0 0 4px rgba(0,0,0,.14);
	background-color: rgba(0,0,0,0.5);
	position: fixed;
	vertical-align: middle;
}*/

#title_t_pearl {
	font-size: 4em;
	transition: font-size 1s;
	color: #3b3d3c;
	padding: 0;

}
#slogan_inner {
	color: #3b3d3c;
	font-size: 1em;
	display: inline-block;
	border-top: 1px #3b3d3c solid;
	width: 366px;
	transition: width 1s .5s;
}

#title_t_pearl:hover {
	color: white;
}

#slogan {
	text-align: center;
	width: 100%;
	overflow: hidden;
	padding: 0;
}



#menu-spacing {
	height: 150px;
}