#title_t_pearl {
	font-size: 4em;
	transition: font-size 1s;
	color: #3b3d3c;
	padding: 0;
    margin-bottom: -22px;
}
#slogan_inner {
	color: #3b3d3c;
	font-size: 1em;
	display: inline-block;
	border-top: 1px #3b3d3c solid;
	width: 400px;
	transition: width 1s .5s;
}
#title_t_pearl:hover {
	color: white;
}
#slogan {
	text-align: center;
	overflow: hidden;
	padding: 0;
	height: 1px;
}
#menu-spacing {
	height: 150px;
}

.navbar {
	padding-bottom: 1rem;
	transition: padding-bottom 1s;
}

@media (max-width: 450px) {
 #title_t_pearl {
	font-size: 3em;
 }
 #slogan_inner {
 	width: 275px;
 }
}
@media (min-width: 450px) {
 #title_t_pearl {
	font-size: 4em;
 }
 #slogan_inner {
 	width: 400px;
 }
}