	.html {
		text-align: center;
	}

	.panel .panel-heading {
	 font-weight:700;
	 text-align: center;
	}
	.panel .panel-heading a {
	 font-weight:400;
	 font-size:11px;
	}

	.panel-heading {
		margin: 7px -7px -7px -7px;
		padding-top: 5px;
		height: 40px;
		background-color: transparent;
		position: absolute;
		right: 50%;
	}
	.panel-heading-header {
		font-size: 25px;
		position: relative;
		right: -50%;
	}


	.panel-heading-container {
		height:40px;
	}

	.tile_container {
		display: inline-block;
		position: relative;
		margin: 1em 1em 1em 1em;
		background-color: #6DB3F2;
		padding: 7px;
		overflow: hidden;
		box-shadow: 
	  		0 1px 5px rgba(0,0,0, 0.12),
	    	0 1px 3px rgba(0,0,0, 0.24); 
	}
	.tile_container:hover {
		cursor: pointer;
	}

	.tile_container > h1 {
		text-align: center;
		margin-top: 0;

	}

	.list-group > p {
		margin: 0 1em 0 1em;
	    opacity: 0;
	    transition: visibility 0s .5s, opacity .5s linear;
	}

	.tile_container:hover .article_descrption {
		visibility: visible;
	    opacity: 1;
	    transition: opacity .2s linear;
	    color: white;
	}

	.tile_container:hover .tile_background_image {
		padding-bottom: 80px;
		margin-bottom: -40px;
	}

	.tile_container:hover .panel-heading-container-absolute {
		color: white;
		top: 10px;
	}

	.tile_container:hover .tile_background_image {
		background-image: 
		    linear-gradient(
		      rgba(0, 0, 0, .5),
		      rgba(0, 0, 0, .5)
		    ),
		    url(../images/1.jpg);
	}


	.panel-heading-container-absolute {
		position: absolute;
		display: inline-block;
	}

	.article_descrption_container {
		padding-top: 40px;
	}

	.tile_background_image {
		border-radius: 5px;
		color: white;
		background-image: 
		    linear-gradient(
		      rgba(0, 0, 0, 0),
		      rgba(0, 0, 0, 0)
		    ),
		    url(../images/1.jpg);
		background-repeat: no-repeat;
		background-origin: 50% 50%;
		background-size: cover;
		display: inline-block;
		width: 100%;
		box-shadow: 
	  		0 1px 2px rgba(0,0,0, 0.12),
	    	0 1px 2px rgba(0,0,0, 0.24); 
	}
	
	.text_padding {
		padding: 20px 0 40px 0;
	}