	.html {
		text-align: center;
	}

	.panel .panel-heading {
	 font-weight:700;
	 text-align: center;
	}
	.panel .panel-heading a {
	 font-weight:400;
	 font-size:11px;
	}

	.panel-heading h4 {
		font-size: 25px;
	}


	.panel-heading {
		margin-top: 3px;
		padding-top: 5px;
		height: 40px;
		background-color: white;
	}
	.tile_container {
		display: inline-block;
		position: relative;
		margin: 1em 1em 1em 1em;
		background-color: #6DB3F2;
		padding: 3px 3px 3px 3px;
	}
	.tile_container:hover {
		cursor: pointer;
	}




	.tile_container:visited{
		opacity: .5;
		color: red;
		background-color: red;
	}

	.tile_container > h1 {
		text-align: center;
		margin-top: 0;
	}

	.list-group > p {
		margin: 0 1em 0 1em;
	    opacity: 0;
	    transition: visibility 0s .5s, opacity .5s linear;
	}

	.tile_container:hover p {
		visibility: visible;
	    opacity: 1;
	    transition: opacity .2s linear;
	    color: white;
	}

	.tile_background_image {
		border-radius: 30px;
		background-image: 
		    linear-gradient(
		      rgba(0, 0, 0, 0),
		      rgba(0, 0, 0, 0)
		    ),
		    url(../images/1.jpg);
		background-repeat: no-repeat;
		background-origin: 50% 50%;
		background-size: cover;
		display: inline-block;
		width: 100%;
	}
	.tile_background_image:hover {
		background-image: 
		    linear-gradient(
		      rgba(0, 0, 0, .5),
		      rgba(0, 0, 0, .5)
		    ),
		    url(../images/1.jpg);
	}